@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@layer base {
  html, body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 350; /* Appliqué à tout le document */
    color: rgba(0, 0, 0, 0.87);
    font-variation-settings: "wdth" 100, "YTLC" 500;
  }
}

/* main container centered on the screen */
.title-container {
  /*background-color: lightBlue;*/
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.title{
  font-weight: bolder;
  font-style: italic;
  font-size: 32px;
  margin: 0;
  white-space: nowrap;
}

.line {
  height: 1px;
  background-color: #000000;
  flex: 1; /* The line takes all the remaining space */
}

.tooltip {
    background: #ffffff7e;
    opacity: 0.9;
    /*border: 1px solid #000000;*/
    border-radius: 5px;
    /*box-shadow: 3px 3px 3px rgb(0 0 0 / 10%);*/
    font-size: 16px;
    max-width: 500px;
    min-width: 110px;
    padding: 8px 12px;
    position: absolute; /* PUT THIS INLINE */
    /*transform: translate(15%,-150%);*/
    color: #FF57BB;
    line-height: 8px;
}

.tooltip-title {
  line-height: 20px;
  overflow-wrap: break-word;
}


